.loginsignup{
    width: 100%;
    height: 85vh;
    background: #c4ebd7;
    padding-top: 100px;
}
.loginsignup-container{
    width: 400px;
    height: 500px;
    margin: -45px auto 0;
    padding: 20px 40px;
    background: white;
    box-shadow: 5px 5px 8px #888888;}
.loginsignup-container h1{
    margin: 10px 0px;
    color: #202046;
}
.loginsignup-fields{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}
.loginsignup-fields input{
    height: 50px;
    width: 100%;
    padding-left:20px ;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 16px;
}
.loginsignup-container button{
    width: 420px;
    height: 50px;
    background: #0a6638;
    margin-top: 30px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.loginsignup-login{
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 16px;
    font-weight: 500;
}
.loginsignup-login span{
    color: #0a6638;
    font-weight: 600;
    padding-left: 10px;
}
.loginsignuop-agree{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 14px;
    font-weight: 500;
}

@media(max-width:530px){
    .loginsignup{
      
        height:85vh;
    }
    .loginsignup-container{
       width: 300px;
       padding: 5px;
       margin: auto;
    }
    .loginsignup-container button{
        width: 300px;
    }
    .loginsignup-container input{
        width: 90%;
    }
    .loginsignup-container h1{
        margin: 0;
        text-align: center;
    }
    .loginsignuop-agree{
        gap: 0px;
        margin-top: 0;
        
    }
}