.shop-catogory{
    width: 100%;
   
}
.shop-catogory img{
    width: 85%;
    display: block;
    margin: 30px auto;
}
.shopcatogory-indexSort{
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center; 
    width:85%;
}
.shopcatogory-sort button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    width: 150px;
    height: 50px;
    color: rgb(71, 71, 71);
    font-weight: 700;
    font-size: 16px;
    border: 1px solid #0a6638;
    outline: none;
    border-radius: 6px;
    padding: 0 5px;
    margin: 0;
    gap: 30px;
    cursor: pointer;

}
.shopcatogory-sort button img{
    width: 18px;
    margin: 0;
}
.shopcatogory-indexSort p span{
    font-weight: 600;
}
.shopcatogory-products{
    margin: 20px auto 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 30px;
   
    width: 89%;
}
.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:80px auto;
    width: 233px;
    height: 60px;
    border-radius: 75px;
    background: #060404ed;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

@media(max-width:1280px){
    .shopcatogory-indexSort{
        width: 75%;
    }
    .shopcatogory-products{
        width: 90%;
        row-gap: 20px;
    }
}
.shopcatogory-products.item{
    margin: auto;
}

@media(max-width:800px){
    .shop-catogory img{
        width: 90%;
    }
    .shopcatogory-products{
        width: 95%;
    }
  
    .shopcatogory-indexSort button{
      font-size: 14px;
        
    }
    .shopcatogory-indexSort button img{
        width: 16px;
    }
    .shopcatogory-sort img{
        width: 20px;
        
    }
    .shopcatogory-sort {
        width: 100px;
    }
}

@media(max-width:500px){
    .shopcatogory-products{
        grid-template-columns: 1fr 1fr;
    }
}