.sidebar{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    width: 100%;
    max-width: 300px;
    height: 100vh;
    background: #0a6638;
}
.sidebar-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 20px;
    padding: 5px 10px;
    gap: 10px;
    border-radius: 6px;
    background: #f6f6f6;
    cursor: pointer;
    color: #202046;
    font-weight: 700;
}


@media(max-width:800px){
    .sidebar{
        padding: 20px 0;
        flex-direction: row;
        width: 100%;
        max-width: none;
        height: auto;
        justify-content: center;
    }
    .sidebar-item{
        margin: 0 10px;
    }
}