/* NavBar.css */
.navbar {
    display: flex;
    justify-content: space-around;
    padding: 12px;
    box-shadow: 0 1px 3px -2px black;
    align-items: center;
}

.navLogo {
    display: flex;
    align-items: center;
}

.navLogo img {
    width: 150px;
}

.navMenu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    font-size: 18px;
    font-weight: 500;
    color: #515151;
}

.navMenu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.navMenu li a {
    text-decoration: none;
    color: #515151; /* Ensure the link inherits the color */
}

.navMenu li hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #0a6638;
}

.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 45px;
}

.nav-login-cart button {
    width: 150px;
    height: 50px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 18px;
    font-weight: 500;
    background: white;
    cursor: pointer;
}

.nav-login-cart button:active {
    background: #f3f3f3;
}

.nav-login-cart .nav-cart-count {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background-color: red;
    color: white;
}

.nav-login-cart a {
    text-decoration: none;
    color: #515151; /* Ensure the link inherits the color */
}
.nav-dropdown {
    width:50px;
    display:none
}
@media(max-width:1280px){
    .navbar{
        padding: 12px 50px;
    }
    .navMenu{
        gap: 30px;
        font-size: 14px;
    }
    .nav-login-cart{
        gap: 30px;
    }
    .nav-login-cart button{
        width: 120px;
        height: 45px;
        font-size: 14px;
    }
    .nav-login-cart .nav-cart-count {
        margin-left: -40px;
        font-size: 12px;
    }
}

@media(max-width:1024px){
    .navbar{
       padding: 12px 30px; 
    }
    .navMenu{
        gap: 25px;
        font-size: 14px;
    }
    .nav-login-cart button{
        width: 100px;
        font-size: 12px;
    }
    

}
@media(max-width:800px){
    .navbar{
        padding: 10px 0;
    }
    .nav-dropdown {
       display: block;
       rotate: -90deg;
       transition: 0.5s;
    }
    .navMenu{
        display: none;
        height: 60px;
        width: 100%;
        position: absolute;
        background: white;
        justify-content: center;
        top: 60px;
    }
    .nav-menu-visible{
        display: flex;
    }
    .nav-dropdown.open{
        transform: rotate(90deg);
    }
}
@media(max-width:500px){
    .navbar{
        padding: 8px 0;
        gap: 0;
    }
    .navMenu{
        height: 70px;
        top: 60px;
    }
}